<p id="notice"><%= notice %></p>

<h1>Transfer History</h1>

<table width="650">
  <thead>
    <tr>
      <th>From Account</th>
      <th>To Account</th>
      <th>Amount</th>
      <th>Status</th>
      <th>Start</th>
      <th>Effective</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @transfers.each do |transfer| %>
		<% if current_user.name == transfer.sender || current_user.name == transfer.recipient %>
			<tr height="50">
				<td width = "175" ><%= transfer.sender + " - " + transfer.from %></td>
				<td width = "175" ><%= transfer.recipient + " - " + transfer.to %></td>
				<% if transfer.amount %>
					<td width = "75">$<%= sprintf("%.2f",transfer.amount) %></td>
				<% else %>
					<td width = "75">$<%= "0.00" %></td>
				<% end %>
				<td width = "175" ><%= transfer.status %></td>
				<td width = "175" ><%= transfer.start %></td>
				<td width = "175" ><%= transfer.effective %></td>
				<td><u><%= link_to 'Show', transfer %></u></td>
				<td><u><%= link_to 'Destroy', transfer, method: :delete, data: { confirm: 'Are you sure?' } %></u></td>
			</tr>
		<% elsif current_user.admin? %>
			<tr height="50">
				<td width = "175" ><%= transfer.sender + " - " + transfer.from %></td>
				<td width = "175" ><%= transfer.recipient + " - " + transfer.to %></td>
				<% if transfer.amount %>
					<td width = "75">$<%= sprintf("%.2f",transfer.amount) %></td>
				<% else %>
					<td width = "75">$<%= "0.00" %></td>
				<% end %>
				<td width = "175" ><%= transfer.status %></td>
				<td width = "175" ><%= transfer.start %></td>
				<td width = "175" ><%= transfer.effective %></td>
				<td><u><%= link_to "Approve",:controller => :transfers, :action => :approve, :id => transfer.id %></td>
				<td><u><%= link_to "Decline",:controller => :transfers, :action => :decline, :id => transfer.id %></td>

			</tr>
		<% end %>
    <% end %>
  </tbody>
</table>

<br>
<% unless admin? %>
	<%= link_to 'New Transfer', new_transfer_path %>
<% end %>