<p id="notice"><%= notice %></p>

<h1>Transfer History</h1>

<table width="650">
  <thead>
    <tr>
      <th>From</th>
      <th>To</th>
      <th>Amount</th>
      <th>Status</th>
      <th>Start</th>
      <th>Effective</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @transfers.each do |transfer| %>
      <tr height="20">
        <td><%= transfer.from %></td>
        <td><%= transfer.to %></td>
        <% if transfer.amount %>
			<td>$<%= sprintf("%.2f",transfer.amount) %></td>
		<% else %>
			<td>$<%= "0.00" %></td>
		<% end %>
        <td><%= transfer.status %></td>
        <td><%= transfer.start %></td>
        <td><%= transfer.effective %></td>
        <% if current_user.admin? %>
			<td><u><%= link_to "Approve",:controller => :transfers, :action => :approve, :id => transfer.id %></td>
			<td><u><%= link_to "Decline",:controller => :transfers, :action => :decline, :id => transfer.id %></td>
		<% else %>
			<td><u><%= link_to 'Show', transfer %></u></td>
			<td><u><%= link_to 'Destroy', transfer, method: :delete, data: { confirm: 'Are you sure?' } %></u></td>
		<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% unless admin? %>
	<%= link_to 'New Transfer', new_transfer_path %>
<% end %>