<%= form_for(@borrow) do |f| %>
	<% if @borrow.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@borrow.errors.count, "error") %> prohibited this borrow from being saved:</h2>

			<ul>
				<% @borrow.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	
	<div class="field">
		<%= f.label :from_account %><br>
		<%= f.select :from_account, current_accounts.select{|x| x.status == "active" || x.status == "ACTIVE" }.collect{|x| x.acct_number} %>
	</div>
	
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
