<p id="notice"><%= notice %></p>

<h1>Deposit History</h1>

<table width="500">
  <thead>
    <tr>
      <th>Account</th>
      <th>Date</th>
      <th>Amount</th>
      <th>Status</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
	<% @deposits.each do |deposit| %>
		<% if deposit.user_id.to_s.length == 9 %>
		  <tr height="20">
			<td><%= deposit.user_id %></td>
			<td><%= deposit.date %></td>
			<% if deposit.amount %>
				<td>$<%= sprintf("%.2f",deposit.amount) %></td>
			<% else %>
				<td>$<%= "0.00" %></td>
			<% end %>
			<td><%= deposit.status %></td>
			<% if current_user.admin? %>
				<% if deposit.status == "APPROVED" || deposit.status == "DECLINED" %>
					<td><u><%= link_to 'Show', deposit %></u></td>
				<% else %>
					<td><u><%= link_to "Approve",:controller => :deposits, :action => :approve, :id => deposit.id %></u></td>
					<td><u><%= link_to "Decline",:controller => :deposits, :action => :decline, :id => deposit.id %></u></td>
				<% end %>
			<% else %>
				<td><u><%= link_to 'Show', deposit %></u></td>
				<td><u><%= link_to 'Destroy', deposit, method: :delete, data: { confirm: 'Are you sure?' } %></u></td>
			<% end %>
		<% end %>
	  </tr>
    <% end %>
  </tbody>
</table>

<br>
<% unless admin? %>
	<%= link_to 'New Deposit', new_deposit_path %>
<% end %>