<%= form_for(@user) do |f| %>
	<%= render 'shared/error_messages', object: @user %>

	<%= f.label :name %>
	<%= f.text_field :name, class: 'form-control' %>

	<%= f.label :email %>
	<%= f.email_field :email, class: 'form-control' %>

	<%= f.label :password %>
	<%= f.password_field :password, class: 'form-control' %>

	<%= f.label :password_confirmation, "Confirmation" %>
	<%= f.password_field :password_confirmation, class: 'form-control' %>
	
	<div class = "col-md-1 >
		<%= f.label :admin %>
		<%= f.check_box :admin %>
	</div>
	
	<%= f.submit yield(:button_text), class: "btn btn-primary" %>
	
	<% if current_page?(signup_path) %>
		<p>Already have an account? <%= link_to "Log In", login_path %></p>
	<% end %>
<% end %>