<p id="notice"><%= notice %></p>

<h1>Listing Borrows</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Friend</th>
      <th>Status</th>
      <th>Date</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @borrows.each do |borrow| %>
      <tr>
        <td><%= borrow.user_id %></td>
        <td><%= borrow.friend_id %></td>
        <td><%= borrow.status %></td>
        <td><%= borrow.date %></td>
        <td><%= borrow.amount %></td>
        <td><%= link_to 'Show', borrow %></td>
        <td><%= link_to 'Edit', edit_borrow_path(borrow) %></td>
        <td><%= link_to 'Destroy', borrow, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Borrow', new_borrow_path %>
