<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @borrow.user_id %>
</p>

<p>
  <strong>Friend:</strong>
  <%= @borrow.friend_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @borrow.status %>
</p>

<p>
  <strong>Date:</strong>
  <%= @borrow.date %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @borrow.amount %>
</p>

<%= link_to 'Edit', edit_borrow_path(@borrow) %> |
<%= link_to 'Back', borrows_path %>
