<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @notification.user %>
</p>

<p>
  <strong>Subscribed user:</strong>
  <%= @notification.subscribed_user %>
</p>

<p>
  <strong>Post:</strong>
  <%= @notification.post %>
</p>

<p>
  <strong>Identifier:</strong>
  <%= @notification.identifier %>
</p>

<p>
  <strong>Type:</strong>
  <%= @notification.type %>
</p>

<p>
  <strong>Read:</strong>
  <%= @notification.read %>
</p>

<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
